body {
    --color-2: #e8e8e8;
}
.ssosta:hover{
    background-color: var(--color-2);
}
.gmail:hover{
    text-decoration: underline;
}
.theme-switch {
    /* position: absolute; */
    /* left: 400px; */
    /* left: 100px; */
    top: -20px;
}
.settings-label {
position: absolute;
cursor: pointer;
display: block;
text-indent: -9999px;
height: 30px;
width: 60px;
border-radius: 50px;
background-color: #ccc;
transition: 0.5s ease background-color;
margin-right: 0;
/* margin-left: 200px; */
/* margin: 100px; */
}
.settings-label::after {
position: absolute;
content: "";
width: 20px;
height: 20px;
border-radius: 50px;
top: 50%;
left: 5px;
transform: translateY(-50%);
background-color: #444;
transition: 0.5s ease;
}

input:checked + label::after {
/* left: calc(100% - 2.5px); */
left: calc(100% - 25px);
/*background-color: #eee;*/
}
input:checked + label {
background-color: #777;
/* background-color: #23d5ab; */
/* border: 2px solid whitesmoke; */
/* }
.bg-white{
    color: tomato !important;
} */
}

.bg-dark {
--color: #fff !important;
--color-2: #333;

/* --color-2: #eee;
--color-3: rgb(39, 40, 42);
--color-4: rgb(186, 186, 202); */
}
