body {
	background-color: #eee;
}

header {
	position: fixed;
	background-color: #999;
	width: 120%;
	margin: 4px -10%;
	top: 0;
	/* transition: 0.4s; */
	/* max-width: 100%; */
}


header:hover {
	background-color: #555;
}

#header	{
	/* max-width: 80%; */
	/* margin: auto; */
	/* position: relative; */
	transition: 0.4s;
	/* margin-bottom: 10px; */

	
}




h1 {
  text-align: center;
  font-family: 'Adobe Devanagari', serif;
  font-size: 1em;
  margin: -23px 0;
  color: white;
  /* max-width: 100%; */
  /* max-inline-size: 50%; */
  /* max-zoom: 50%; */
  /* max-height: 50%; */
  /* max-inline-size: 100%; */
  }
  
b {
	font-size: 250%;
	color: rgb(225, 0, 0);
}

p {
	
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	color: #333;
	padding: 0 30px;
}

a,
em {
	color: rgb(225, 0, 0);
	font-weight: 500;
	font-style: normal;
	font-style: unset;
}

a:hover {
	color: pink;
	transition: 1s;
}


article {
	border: 10px solid white;
	margin: 180px 10px 10px 10px ;
	align-items: center;
	border-radius: 50px;
}


img {
	display: block;
	width: 60%;
	/* width: 25rem; */
	/* width: 500px; */
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	max-width: 1000px;
	border: solid 10px white;
	border-radius: 50px;
	transition: transform .2s;
}
img:hover{
	transform: scale(0.9);
	transition: transform .2s;
}
footer {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
	margin: 20px 0;
}



table,
th,
td {
	table-layout: fixed;
	width: 90%;
	border: 10px solid purple;
	border-collapse: collapse;
	text-align: center;
	padding: 5px 0;
	margin:  30px auto 40px auto;
	max-width: 900px;
	
	
  }

table {
	/* border-color: green; */
	border: 15px dashed orange;
}


.gallery {
	background-color: green;
	color: white;
	width: 250px;
	padding: 25px 25px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin:  auto;
	display: block;
	text-decoration: none;
	/* border: solid 10px white; */
	/* border-radius: 50px; */
}
	
.gallery:hover,
.gallery:active {
	background-color: #ccc;
	color: black;
	transition: 0.4s;
  }



  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }


