.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex;
    list-style: none;
    margin: 0; 
    background: #555;
    flex-direction: row;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #444;
  }



  
@media all and (max-width: 600px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}


  .item {
    justify-content: flex-end;
  }


  
.gallery {
	background-color: green;
	color: white;
	width: 200px;
	padding: 25px 25px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin:  auto;
	display: block;
	text-decoration: none;
}


footer {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
}



em {
	color: rgb(225, 0, 0);
	font-weight: 500;
	font-style: normal;
	font-style: unset;
}