
body {
    background-color: #444;
}


.button {
    background-color: green;
    color: white;
    width: 250px;
    padding: 25px 25px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin:  auto;
    display: block;
    text-decoration: none; }



footer {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: white;
    /* position: absolute; */
    bottom: 0;
    right: 0;
    left: 0;
    margin: 20px;
}



em {
	color: rgb(225, 0, 0);
	font-weight: 500;
	font-style: normal;
	font-style: unset;
}


img {
    width: 500px;
}



p {
    width: 600px;
    margin: 0 auto;

}


.flex div,
img {
    background-color: lightpink;
    width: 300px;
    max-width: 80%;
    border: 10px solid white;   
    padding: 40px;
    text-align: justify;
    /* margin: 0, auto; */
    margin-top: 30px;
    /* display: flex; */

}


.flex {
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    width: 900px;
}


  
  @media all and (max-width: 900px) {
    .flex {
    flex-flow: column;
    /* width: 250px; */
    max-width: 80%;
    /* width: 100px; */
    align-items: center;
      /* padding: 0; */
    }
    

    /* .navigation li:last-of-type a { */
      /* border-bottom: 100px; */
    /* } */
  }