.ul,
ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  transform-origin: top right;
  transform: skewY(-4.398705355deg);
  margin: 0 6.4vw 0 28%;
}
.li,
li {
  transform-origin: top left;
  transform: skewY(4.398705355deg) rotatez(14.03624deg);
  padding-top: 150%;
  z-index: 1;
  transition-property: z-index;
  transition-duration: 0.3s;
}
.details {
  position: absolute;
  z-index: 2;
  width: 98%;
  height: 95%;
  top: 0;
  background-color: #dadddf;
  border-radius: 2vw;
  box-shadow: inset 0px 0px 0px 7vw #fcf8f4;
  box-sizing: border-box;
  webkit-filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.4));
  transform: rotate(0deg) translate(0, 0);
  transition-property: transform;
  transition-duration: 0.3s;
  display: flex;
  justify-content: end;
}

h2,
p,
img {
  position: absolute;
  z-index: 4;
}

p {
  font-size: 1.4em;
  background-color: #fcf8f4;
  padding: 2% 2.5% 2% 2.5%;
}
p:nth-child(2n) {
  top: 3%;
  left: 5%;
}
p:nth-child(2n + 1) {
  transform: rotatez(180deg);
  bottom: 3%;
  right: 5%;
}
h2 {
  text-align: center;
  width: 122%;
  left: -11%;
  top: 46%;
  transform: rotatez(-45deg);
  background-color: #fcf8f4;
  line-height: 140%;
  transition-property: top;
  transition-duration: 0.3s;
}
img {
  width: 84%;
  top: 53%;
  left: 50%;
}
img:nth-child(2n) {
  transform: translateX(-30%) translateY(0%) rotatez(135deg);
  transition-property: width, transform;
  transition-duration: 0.3s;
}
img:nth-child(2n + 1) {
  transform: translateX(-70%) translateY(-125%) rotatez(-45deg);
  transition-property: width, transform;
  transition-duration: 0.3s;
}

button {
  background-color: var(--coral);
  color: #fff;
  border: none;
  /* display: flex; */
  /* justify-self: end; */
  /* height: 28px; */
  border-radius: 24px;
  font-size: 26px;
  padding: 8px 26px;
  cursor: pointer;
  font-weight: 500;
}

li:hover {
  z-index: 4;
}
li:hover h2 {
  top: 64%;
}
li:hover .details {
  transform: rotate(-14.03624deg) translate(5.5%, 15%) scale(1.5);
}
li:hover img:nth-child(2n) {
  width: 60%;
  transform: translateX(-15%) translateY(60%) rotatez(135deg);
}
li:hover img:nth-child(2n + 1) {
  width: 120%;
  transform: translateX(-65%) translateY(-75%) rotatez(-45deg);
}
@media (min-width: 300px) {
  body {
    font-size: 2.75vw;
  }
  .ul,
  ul {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3vw;
    margin: 0 3.9vw 0 15vw;
  }
  .details {
    box-shadow: inset 0px 0px 0px 4vw #fcf8f4;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.95vw;
  }
  .ul,
  ul {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    margin: 0 2.8vw 0 10vw;
  }
  .details {
    box-shadow: inset 0px 0px 0px 2.8vw #fcf8f4;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 1.5vw;
  }
  .ul,
  ul {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5vw;
    margin: 0 2.2vw 0 8vw;
  }
  .details {
    box-shadow: inset 0px 0px 0px 2.2vw #fcf8f4;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.25vw;
  }
  .ul,
  ul {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1vw;
    margin: 0 1.8vw 0 6.5vw;
  }
  .details {
    box-shadow: inset 0px 0px 0px 1.8vw #fcf8f4;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1vw;
  }
  .ul,
  ul {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1vw;
    margin: 0 1.5vw 0 5.5vw;
  }
  .details {
    box-shadow: inset 0px 0px 0px 1.5vw #fcf8f4;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* margin: auto; */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 3% auto 3% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 540px;
  border-radius: 16px;
}

/* The Close Button */
.close {
  color: var(--coral);
  float: right;
  /* font-weight: bold; */
  margin-top: -22px;
  /* font-size: 42px; */
  font-size: 68px;
}

.close:hover,
.close:focus {
  /* color: #777; */
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: var(--green);
  font-weight: bolder;
}

p {
  color: var(--coral);
  font-weight: bolder;
}

h3 {
  font-size: 28px;
  margin: 4px;
  color: var(--green);
  font-weight: 500;
  /* color: var(--coral); */
}

.price {
  font-size: 40px;
  color: var(--green);
}

.img2 {
  width: auto;
  height: auto;
  top: unset;
  left: unset;
  transform: unset !important;
  transition-duration: unset;
  transition-property: unset;
  transition: unset;
  position: unset;
  z-index: unset;
  translate: unset !important;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  /* top: 50%; */
  bottom: 0;
  /* transform: translate(-50%); */
}

.img2div {
  height: 100%;
  position: relative;
  /* display: flex; */
  /* margin: 8%; */
  /* padding: 10px; */
  height: 50vw;
  max-height: 320px;
  width: auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  display: block;
  /* display: flex; */
  margin: 5%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* align-items: ; */
  /* width: 10%; */
}

.pricebuy {
  display: flex;
  justify-content: space-between;
  margin: 40px 20px;
  flex-wrap: wrap;
}

.cesta {
  color: #fff;
  font-style: italic;
  margin: 30px 0 -40px 7%;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .cesta {
    margin: 30px 0 0 7%;
  }
}
